.card {
  width: 100%;
  border: 1px solid #ebebeb;
  position: relative;
}

.card_image {
  position: relative;
  height: 250px;
}
.card:hover .card_hover_img {
  display: flex;
}
.card_hover_img {
  display: none;
}
.card_hover_img img {
  /* object-fit: contain !important; */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
@media (max-width: 1200px) {
  .card_image {
    height: 180px;
  }
}
