.footer {
  background: var(--dark-blue);
}

.footer.margin {
  margin-top: 120px;
}

.footer_inner {
  padding-block: 80px;
  display: flex;
  flex-direction: column;
  gap: 80px;
}

.top_container {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.mytitle {
  font-family: var(--halvar-medium), sans-serif;
  font-weight: 500;
  font-size: 40px;
  line-height: 44px;
  color: var(--white);
  text-transform: uppercase;
}

.top_container_inner_top {
  display: flex;
  align-items: center;
  gap: 304px;
  justify-content: flex-start;
}

.title_cont {
  max-width: 640px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 20px;
}

.title_desc {
  color: var(--white);
  font-family: var(--interface-regular);
  font-size: 18px;
  font-style: normal;
  line-height: 27px;
}

.social_links_cont {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.social_links_title {
  color: var(--white);
  font-family: var(--interface-regular), sans-serif;
  font-size: 16px;
  font-style: normal;
  line-height: 24px;
}

.social_links {
  display: flex;
  gap: 40px;
}

.social_link {
  width: 32px;
  height: 32px;
}

.top_container_inner_btm {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 24px;
}

.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 12px;
}

.contact_title {
  color: #69697e;
  font-family: var(--interface-regular), sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.contact_info {
  color: var(--white);
  font-family: var(--halvar-medium);
  font-size: 34px;
  font-style: normal;
  font-weight: 500;
  line-height: 37.4px;
  text-transform: uppercase;
  max-width: 704px;
  transition: 0.3s;
}

.phone,
.email {
  color: var(--white);
  font-family: var(--halvar-medium), sans-serif;
  font-size: 34px;
  font-style: normal;
  font-weight: 500;
  line-height: 37.4px;
  text-transform: uppercase;
  padding-bottom: 7px;
  border-bottom: 1px solid var(--white);
  transition: 0.3s;
}

.phone:hover,
.email:hover,
.contact_info:hover {
  color: var(--green);
}

.btm_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.copyright {
  color: #c2c2c3;
  font-family: var(--interface-regular), sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px;
}

.footer_links {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 73px;
}

.footer_link {
  color: var(--white);
  font-family: var(--interface-regular), sans-serif;
  font-size: 18px;
  font-style: normal;
  line-height: 27px;
  border-bottom: 1px solid var(--white);
  transition: 0.3s;
}

.footer_link:hover,
.footer_link.active {
  color: var(--green);
  border-bottom: 1px solid var(--green);
}

.designedby,
.designedby > a {
  color: var(--white);
  font-family: var(--interface-regular), sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px;
}

.designedby > a {
  color: var(--green);
  padding-left: 4px;
}

.copyright_mobile {
  display: none;
}

@media (max-width: 1800px) {
  .footer_inner {
    padding: 80px 16px;
    gap: 32px;
  }
  .top_container_inner_btm {
    gap: 32px;
  }
  .contact_info {
    max-width: 570px;
  }
}

@media (max-width: 1440px) {
  .footer_inner {
    padding: 80px 56px;
  }
  .mytitle {
    font-size: 30px;
    line-height: 33px;
  }
  .title_desc {
    font-size: 16px;
    line-height: 24px;
  }
  .social_links_title {
    font-size: 16px;
    line-height: 24px;
  }
  .top_container_inner_btm {
    justify-content: space-between;
  }
  .phone,
  .email {
    font-size: 24px;
    line-height: 110%;
  }
  .contact_info {
    font-size: 18px;
    line-height: 120%;
  }
  .copyright {
    font-size: 16px;
    line-height: 150%;
  }
  .footer_links {
    gap: 60px;
  }
  .footer_link {
    font-size: 16px;
    line-height: 150%;
  }
  .designedby,
  .designedby a {
    font-size: 18px;
    line-height: 150%;
  }
}
@media (max-width: 1200px) {
  .footer.margin {
    margin-top: 56px;
  }
  .contact {
    align-items: flex-start;
  }
}

@media (max-width: 768px) {
  .mytitle {
    font-size: 20px;
    line-height: 22px;
  }
  .footer_inner {
    padding: 50px 16px 24px 16px;
    gap: 32px;
  }
  .top_container {
    flex-direction: column;
    gap: 20px;
  }
  .top_container_inner_top {
    flex-direction: column;
    gap: 20px;
    align-items: unset;
  }
  .title_cont {
    gap: 20px;
  }
  .title_desc {
    color: var(--white, #fff);
    font-family: var(--interface-regular);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 24px */
  }
  .top_container_inner_btm {
    flex-direction: column;
    gap: 32px;
    align-items: unset;
  }
  .btm_container {
    flex-direction: column;
    align-items: unset;
    gap: 32px;
  }
  .footer_links {
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
  }
  .phone,
  .email,
  .contact_info {
    font-family: var(--halvar-medium);
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%; /* 21.6px */
    text-transform: uppercase;
    padding-bottom: 7px;
  }
  .social_links_cont {
    justify-content: flex-start;
    gap: 8px;
  }
  .social_links {
    gap: 20px;
  }
  .social_links_title {
    color: var(--white, #fff);
    font-family: var(--interface-regular);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 21px */
  }
  .social_link {
    width: 24px;
    height: 24px;
  }
  .social_link svg {
    width: 100%;
    height: 100%;
  }
  .contact_title {
    color: #69697e;
    font-family: var(--interface-regular);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 21px */
  }
  .footer_link {
    color: var(--white, #fff);
    font-family: var(--interface-regular);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
  }
  .btm_mb {
    display: flex;
    flex-direction: column;
    border-top: 1px solid #9a999b;
    padding-top: 24px;
    gap: 12px;
  }
  .copyright {
    display: none;
  }
  .copyright_mobile {
    display: flex;
    color: var(--grey-24, #c2c2c3);
    font-family: var(--interface-regular);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 24px */
  }
}
