.pagination {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-top: 40px;
}

.btn {
  display: grid;
  place-items: center;
  width: 51px;
  height: 51px;
  border-radius: 50%;
  font-size: 16px;
  line-height: 24px;
  color: var(--black);
  background-color: unset;
  border: 1px solid var(--white);
  transition: 0.4s;
}

.btn.active {
  border: 1px solid #781ecd;
}

.btn.active:hover {
  color: #781ecd;
  border: 1px solid #781ecd;
  background-color: rgba(120, 30, 205, 0.1);
}

.btn:hover {
  color: var(--black);
  border: 1px solid #ebebeb;
}

.last_element {
  border: 1px solid #ebebeb;
  background-color: unset;
  display: grid;
  place-items: center;
  color: var(--black);
  width: 51px;
  height: 51px;
  border-radius: 50%;
}

.last_element svg {
  max-width: 20px;
  width: 100%;
  height: 20px;
  transform: translateX(0px);
  transition: 0.4s;
}

.last_element:hover {
  color: var(--black);
}

.last_element:hover svg {
  transform: translateX(2px);
}

@media (max-width: 1200px) {
  .pagination {
    margin-top: 16px;
    gap: 8px;
  }
  .btn {
    width: 36px;
    height: 36px;
    font-size: 14px;
    line-height: 20px;
  }
  .last_element {
    width: 36px;
    height: 36px;
  }
  .last_element svg {
    max-width: 14px;
    height: 14px;
  }
}
