.card {
  width: 100%;
  border: 1px solid #ebebeb;
  display: flex;
  flex-direction: column;
  /* min-height: 490px; */
}

.card_category {
  flex: 1 1 auto;
  margin: 20px 24px;
  display: flex;
  align-items: center;
  gap: 6px;
  font-family: var(--interface-medium), sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  color: var(--gray);
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  max-height: 27px;
}
.card_category svg {
  width: 8px;
  height: 8px;
}
.card_image {
  position: relative;
  width: 100%;
  height: 250px;
  border-block: 1px solid #ebebeb;
}
.image {
  object-fit: contain;
}
.card_content {
  flex: 1 1 auto;
  padding: 24px;
  padding-top: 16px;
  display: flex;
  flex-direction: column;
}

.card_title {
  flex: 1 1 auto;
  font-family: var(--halvar-bold), sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: var(--black);
  text-transform: uppercase;
  margin-bottom: 16px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  max-height: 45px;
}

.card_content_body {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
  border-top: 1px solid #ebebeb;
  padding-top: 16px;
}

.card_content_body span {
  font-family: var(--halvar-bold), sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  transition: 0.3s;
  text-transform: uppercase;
  color: var(--black);
}

.card_content_body svg {
  width: 24px;
  height: 24px;
  transform: rotate(0deg);
  color: var(--black);
  transition: 0.3s;
}

.card:hover .card_content_body span {
  color: var(--green);
}

.card:hover .card_content_body svg {
  transform: rotate(-45deg);
  color: var(--green);
}

@media (max-width: 1440px) {
  .card_category {
    margin: 20px 20px;

    font-size: 16px;
    line-height: 150%; /* 24px */
  }
  .card_content {
    padding: 20px;
  }
  .card_image {
    height: 250px;
  }
  .card_title {
    font-size: 14px;
    line-height: 150%;
  }
  .card_content_body span {
    font-size: 14px;
    line-height: 150%;
  }
}

@media (max-width: 1200px) {
  .card_category {
    margin: 20px 16px;
    font-size: 14px;
    line-height: 21px;
  }
  .card_content {
    padding: 16px;
  }
  .card_image {
    height: 180px;
  }
  .card_title {
    font-size: 14px;
    line-height: 21px;
  }
  .card_content_body span {
    font-size: 12px;
    line-height: 18px;
  }
}
