@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.modal {
  position: fixed;
  inset: 0;
  background: rgba(10, 27, 51, 0.4);
  backdrop-filter: blur(12px);
  z-index: 20;
  display: grid;
  place-items: center;
  animation: fadeIn 0.3s ease;
  padding-inline: 16px;
}

.store {
  max-width: 1110px;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 40px;
  background-color: var(--white);
}

.store_intro {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
  padding-bottom: 24px;
  border-bottom: 1px solid #ebebeb;
}

.store_intro p {
  font-family: var(--halvar-bold), sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 24px;
  color: var(--black);
  text-transform: uppercase;
}

.store_intro button svg {
  width: 40px;
  height: 40px;
  color: var(--black);
}

.store_form {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 16px;
}

.form_body {
  padding-top: 24px;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
}

.store_form_inputs {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.store_input {
  padding: 14px 16px;
  background-color: #f5f5f7;
  border: 1px solid #ebebeb;
  font-size: 16px;
  line-height: 24px;
  color: var(--black);
}

.store_input::placeholder {
  color: #6f7e70;
}

.store_input:focus {
  outline: none;
}
/* View Modal */
.video {
  width: 1396px;
  height: 862px;
}
.video_box {
  display: flex;
  align-items: center;
  justify-content: center;
}

.zoomed_wrapper_container {
  max-width: 1396px;
  width: 100%;
}

.zoomed_wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 40px;
}

.zoomed_wrapper img {
  display: inline-block;
  width: 100%;
  height: 862px;
  object-fit: cover;
  border-radius: 40px;
  overflow: hidden;
}

.modal_closer {
  width: 35px;
  height: 35px;
  background-color: unset;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;

  color: var(--white);
}

.modal_closer svg {
  width: 35px;
  height: 35px;
}
.modal_closer svg path {
  stroke: white;
}
@media (max-width: 1200px) {
  .store {
    padding: 16px;
  }
  .store_intro {
    padding-bottom: 16px;
  }
  .form_body {
    padding-top: 16px;
    grid-template-columns: 1fr;
  }
  .store_input {
    padding: 10px 12px;
  }
  .store_intro p {
    font-size: 18px;
    line-height: 24px;
  }
  .video {
    width: 100%;
    height: 862px;
  }
}
@media (max-width: 880px) {
  .zoomed_wrapper img {
    height: 460px;
    border-radius: 16px;
  }
  .video {
    width: 100%;
    height: 460px;
  }
}

@media (max-width: 768px) {
  .modal_closer {
    width: 40px;
    height: 40px;
  }
  .modal_closer svg {
    width: 14px;
    height: 14px;
  }
}
@media (max-width: 580px) {
  .zoomed_wrapper img {
    height: 320px;
    border-radius: 16px;
  }
  .video {
    width: 100%;
    height: 320px;
  }
}
