.header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 4;
  display: flex;
  flex-direction: column;
}

/* === HEADER TOP === */

.header_top.light {
  background-color: #f5f5f7;
}

.header_top.dark {
  background-color: #36365c;
}

.header_top_inner {
  padding-block: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 24px;
}

.header_top_link {
  display: flex;
  align-items: center;
  gap: 8px;
  font-family: var(--interface-medium), sans-serif;
  font-size: 16px;
  line-height: 24px;
}

.header_top_link svg {
  max-width: 24px;
  width: 100%;
  height: 24px;
  color: var(--green);
}

.header_top.light .header_top_link,
.header_top.light .another_wrapper > svg {
  color: var(--gray);
}

.header_top.dark .header_top_link,
.header_top.dark .another_wrapper > svg {
  color: var(--white);
}

.header_top_inner_nav {
  display: flex;
  align-items: center;
  gap: 32px;
}

.another_wrapper {
  display: flex;
  align-items: center;
  gap: 8px;
}

.another_wrapper > svg {
  width: 24px;
  height: 24px;
}

.another_wrapper span {
  color: var(--green);
  font-family: var(--interface-semibold), sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
}

/* === HEADER BOTTOM === */
.header_bottom.light {
  background-color: var(--white);
  border-bottom: 1px solid #eeee;
}

.header_bottom.dark {
  background-color: var(--dark-blue);
  border-bottom: 1px solid #434360;
}

.header_bottom_inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 24px;
}

.header_bottom_nav {
  display: flex;
  align-items: center;
  gap: 40px;
}

.header_bottom_div {
  display: flex;
  align-items: center;
  gap: 64px;
}

.logo {
  display: inline-block;
  width: 142px;
  height: 50px;
  background-repeat: no-repeat;
  background-size: contain;
}

.logo.light {
  background-image: url("../../../public/media/logo.svg");
}

.logo.dark {
  background-image: url("../../../public/media/logo-white.svg");
}

.header_nav {
  display: flex;
  align-items: center;
  gap: 48px;
}

.nav_link {
  display: flex;
  align-items: center;
  gap: 8px;
  font-family: var(--interface-medium), sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  transition: 0.3s;
  padding-top: 32px;
  padding-bottom: 24px;
}

.nav_link svg {
  max-width: 24px;
  width: 100%;
  height: 24px;
}

.header_bottom.light .nav_link {
  color: var(--black);
}

.header_bottom.dark .nav_link {
  color: var(--white);
}

.header_bottom.light .nav_link.active,
.header_bottom.light .nav_link:hover,
.header_bottom.dark .nav_link.active,
.header_bottom.dark .nav_link:hover {
  color: var(--green);
}
