.header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 12;
}

/* === HEADER TOP === */

.header_top.light {
  background-color: #f5f5f7;
}

.header_top.dark {
  background-color: #36365c;
}

.header_top_inner {
  padding-block: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 24px;
}

.header_top_link {
  display: flex;
  align-items: center;
  gap: 8px;
  font-family: var(--interface-medium), sans-serif;
  font-size: 16px;
  line-height: 24px;
}

.header_top_link svg {
  max-width: 24px;
  width: 100%;
  height: 24px;
  color: var(--green);
}

.header_top.light .header_top_link,
.header_top.light .another_wrapper > svg {
  color: var(--gray);
}

.another_wrapper {
  text-transform: capitalize;
}

.header_top.dark .header_top_link,
.header_top.dark .another_wrapper > svg {
  color: var(--white);
}

.header_top_inner_nav {
  display: flex;
  align-items: center;
  gap: 32px;
}

.another_wrapper {
  display: flex;
  align-items: center;
  gap: 8px;
}

.another_wrapper > svg {
  width: 24px;
  height: 24px;
}

.another_wrapper span {
  color: var(--green);
  font-family: var(--interface-semibold), sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
}

/* === HEADER BOTTOM === */
.header_bottom.light {
  background-color: var(--white);
  border-bottom: 1px solid #eeee;
}

.header_bottom.dark {
  background-color: var(--dark-blue);
  border-bottom: 1px solid #434360;
}

.header_bottom_inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 24px;
}

.header_bottom_nav {
  display: flex;
  align-items: center;
  gap: 40px;
}

.header_bottom_div {
  display: flex;
  align-items: center;
  gap: 64px;
}

.logo {
  display: inline-block;
  width: 142px;
  height: 50px;
  background-repeat: no-repeat;
  background-size: contain;
}

.logo.light {
  background-image: url("../../../public/media/logo.svg");
}

.logo.dark {
  background-image: url("../../../public/media/logo-white.svg");
}

.header_nav {
  display: flex;
  align-items: center;
  gap: 48px;
}

.nav_link {
  display: flex;
  align-items: center;
  gap: 8px;
  font-family: var(--interface-medium), sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  transition: 0.3s;
  padding-top: 32px;
  padding-bottom: 24px;
}

.nav_link svg {
  max-width: 24px;
  width: 100%;
  height: 24px;
}

.header_bottom.light .nav_link {
  color: var(--black);
}

.header_bottom.dark .nav_link {
  color: var(--white);
}
.header_bottom.dark .dropdown > .nav_link {
  color: var(--black);
}

.header_bottom.light .nav_link.active,
.header_bottom.light .nav_link:hover,
.header_bottom.dark .nav_link.active,
.header_bottom.dark .nav_link:hover {
  color: var(--green);
}

.search_wrapper {
  display: flex;
  align-items: center;
  border-radius: 24px;
  overflow: hidden;
  width: 320px;
}

.search_wrapper button {
  display: grid;
  place-items: center;
  padding-right: 16px;
}

.search_wrapper button svg {
  width: 20px;
  height: 20px;
}

.search_wrapper input {
  flex: 1 1 auto;
  background-color: unset;
  border: none;
  padding: 10px 18px;
  font-size: 16px;
  line-height: 24px;
}

.search_wrapper input:focus {
  outline: none;
}

.header_bottom.light .search_wrapper {
  background-color: var(--white);
  border: 1px solid #ebebeb;
}

.header_bottom.dark .search_wrapper {
  background-color: #36365c;
  border: 1px solid #434360;
}

.header_bottom.light .search_wrapper button {
  color: var(--black);
}

.header_bottom.dark .search_wrapper button {
  color: var(--white);
}

.header_bottom.light .search_wrapper input {
  color: var(--black);
}

.header_bottom.dark .search_wrapper input {
  color: var(--white);
}
.cart_svg {
  display: flex;
  gap: 2px;
  position: relative;
}
.order_number:after {
  content: attr(data-number);
  position: absolute;
  top: 12px;
  right: 2px;
  background-color: red;
  color: white;
  padding: 3px;
  border-radius: 100%;
  font-family: var(--interface-medium);
  font-size: 14px;
  line-height: 9px;
}
.header_bottom_bottom .nav_link {
  border-bottom: unset;
}
.header_top_withdropdown {
  position: relative;
}

.dropdown {
  position: absolute;
  display: flex;
  flex-direction: column;
  opacity: 0;
  transform: translateY(20px);
  transition: 0.5s;
  pointer-events: none;
  z-index: 2;
  min-width: 100px;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  top: 40px;
}

.dropdown.show {
  opacity: 1;
  transform: translateY(0px);
  transition: 0.5s;
  pointer-events: all;
}

.dropdown.locales {
  left: -35px;
}

.dropdown.numbers {
  left: 15px;
}
.dropdown.dropdown_prod {
  top: 80px;
}
.dropdown_prod {
  position: absolute;
  display: flex;
  flex-direction: column;
  opacity: 0;
  transform: translateY(20px);
  transition: 0.5s;
  pointer-events: none;
  z-index: 2;
  min-width: 100px;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  top: 40px;
}
.header_top_withdropdown:hover .dropdown_prod {
  opacity: 1;
  transform: translateY(0px);
  transition: 0.5s;
  pointer-events: all;
}
.header_top_withdropdown:hover .another_wrapper_product svg {
  transform: rotateX(180deg);
  transition: 0.5s;
}

.dropdown a {
  padding: 12px 20px;
  background-color: var(--white);
  font-family: var(--interface-medium), sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: var(--gray);
  border-bottom: 1px solid #ebebeb;
  text-transform: capitalize;
  text-align: center;
  transition: 0.3s;
}

.dropdown a:last-child {
  border-bottom: none;
}

.dropdown a.active,
.dropdown a:hover {
  color: var(--green);
}
/* mobile menu open */
.mobile_menu {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  background-color: white;
  padding: 56px 24px;
  gap: 76px;
}
.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navigation svg {
  width: 24px;
  height: 24px;
}
.mobile_menu.dark .close svg path {
  stroke: black !important;
}
.mobile_menu.dark .close svg path {
  stroke: white !important;
}
.menu {
  color: var(--black, #020105);
  font-family: var(--inter-medium);
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px; /* 140% */
}
.mobile_menu.light .menu,
.mobile_menu.light .nav_link {
  color: #06182c;
}

.mobile_menu.dark .menu,
.mobile_menu.dark .nav_link,
.mobile_menu.dark .nav_inner_link {
  color: var(--white);
}

.mobile_menu.light {
  background-color: var(--white);
}

.mobile_menu.dark {
  background-color: var(--dark-blue);
}
.nav_inner_links {
  display: flex;
  flex-direction: column;
  gap: 14px;
  padding-top: 16px;
  padding-bottom: 14px;
}
.nav_inner_link {
  color: var(--grey-64, #5d5d5f);
  font-family: var(--interface-medium);
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 22px; /* 157.143% */
}
@media (max-width: 1540px) {
  .header_bottom_div {
    gap: 21px;
  }
}
@media (max-width: 1440px) {
  .header_top_link {
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%;
  }
  .dropdown a {
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%;
  }
  .header_bottom_nav {
    gap: 44px;
  }
  .header_nav {
    gap: 20px;
  }
  .nav_link {
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%; /* 24px */
  }
}
@media (max-width: 1400px) {
  .search_wrapper {
    width: 100%;
  }

  .header_top_link {
    font-size: 14px;
    line-height: 20px;
  }
  .header_bottom_div {
    gap: 24px;
  }
}

@media (max-width: 1200px) {
  .header_bottom {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding-inline: 16px;
    padding-block: 24px;
  }
  .header_bottom_top {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .header_bottom_bottom {
    display: flex;
    align-items: center;
    gap: 12px;
  }
  .hamburger {
    display: flex;
    flex-direction: column;
    gap: 4px;
    padding: 15px 17px;
    border-radius: 8px;
  }
  .hamburger span {
    width: 16px;
    height: 2px;
  }
  .header_bottom.dark .hamburger {
    background-color: var(--white);
  }
  .header_bottom.light .hamburger {
    background-color: var(--green);
  }
  .header_bottom.dark .hamburger span {
    background-color: var(--dark-blue);
  }
  .header_bottom.light .hamburger span {
    background-color: var(--white);
  }
  .langchanger_wrapper {
    position: relative;
  }
  .langchanger_wrapper button {
    display: flex;
    align-items: center;
    gap: 4px;
    color: red;
    text-transform: capitalize;
    font-family: var(--interface-medium), sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
  }
  .langchanger_wrapper button svg {
    width: 16px;
    height: 16px;
  }
  .header_bottom.dark .langchanger_wrapper button {
    color: var(--white);
  }
  .header_bottom.light .langchanger_wrapper button {
    color: var(--black);
  }
  .dropdown {
    left: -30px;
    min-width: 80px;
  }
  .dropdown a {
    padding: 8px;
    font-size: 14px;
    line-height: 20px;
  }

  .header_nav {
    flex-direction: column;
    align-items: unset;
  }
  .nav_link {
    display: flex;
    align-items: center;
    gap: 8px;
    font-family: var(--inter-medium), sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    transition: 0.3s;
    padding-top: 14px;
    padding-bottom: 14px;
    border-bottom: 1px solid #ebebeb;
    justify-content: space-between;
  }
  .header_bottom_bottom .nav_link svg {
    max-width: 50px;
    height: 44px;
  }
  .order_number:after {
    top: 30px;
    padding: 5px;
  }
}
@media (max-width: 550px) {
  .order_number:after {
    top: 25px;
    padding: 2px;
  }
  .search_wrapper input {
    padding: 10px 0 10px 10px;
  }
}
