.section_inner {
  padding-top: 88px;
}

.intro_inner {
  margin-top: 40px;
}

.intro {
  background-color: var(--dark-blue);
  padding: 64px 72px;
  display: flex;

  justify-content: center;
  gap: 16px;
  position: relative;
}
.intro_info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.intro_titles {
  display: flex;
  flex-direction: column;
  gap: 8px;
  position: relative;
  z-index: 5;
}

.intro_title {
  font-family: var(--halvar-bold), sans-serif;
  font-weight: 700;
  font-size: 56px;
  line-height: 70px;
  color: var(--white);
  text-transform: uppercase;
  max-width: 760px;
}
.intro_desc {
  position: relative;
  z-index: 5;
}
.intro_desc p {
  font-family: var(--interface-medium), sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: var(--white);
  max-width: 800px;
}
.intro_back_img_box {
  width: 700px;

  position: relative;
}
.intro_back_img {
  object-fit: contain !important;
}
.breadcrumb {
  display: flex;
  align-items: center;
  gap: 8px;
}

.breadcrumb_el {
  font-size: 18px;
  line-height: 27px;
  color: var(--white);
  transition: 0.3s;
}

a.breadcrumb_el {
  color: #ebebeb;
}

a.breadcrumb_el:hover {
  color: var(--white);
}

.body_inner {
  display: flex;
  align-items: flex-start;
  margin-top: 80px;
}

.body_aside {
  max-width: 320px;
  width: 100%;
  padding-right: 40px;
  border-right: 1px solid #ebebeb;
  position: sticky;
  position: -webkit-sticky;
  top: calc(124px + 24px);
}

.body_aside_body {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.body_aside_body h4 {
  font-family: var(--interface-semibold), sans-serif;
  font-weight: 600;
  font-size: 24px;
  line-height: 34px;
  color: var(--black);
}

.aside_items {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
}

.aside_link {
  font-size: 18px;
  line-height: 27px;
  color: var(--gray);
  transition: 0.3s;
}

.aside_link.active,
.aside_link:hover {
  color: var(--green);
}

.body_content {
  flex: 1 1 auto;
  padding-left: 16px;
  gap: 8px;
}

@media (max-width: 1800px) {
  .intro {
    padding: 32px 48px;
  }
  .intro_title {
    font-size: 32px;
    line-height: 48px;
  }
  .breadcrumb_el {
    font-size: 16px;
    line-height: 24px;
  }
  .body_aside {
    padding-right: 16px;
  }
  .body_aside_body {
    gap: 24px;
  }
  .body_aside_body h4 {
    font-size: 18px;
    line-height: 27px;
  }
  .aside_link {
    font-size: 16px;
    line-height: 24px;
  }
}

@media (max-width: 1440px) {
  .body_aside {
    max-width: 280px;
    padding-right: 27px;
  }
  .body_aside_body h4 {
    font-size: 20px;
    line-height: 150%;
  }
  .aside_link {
    font-size: 16px;
    line-height: 150%;
  }
  .body_content {
    padding-left: 26px;
  }
  .intro_back_img_box {
    width: 640px;
  }
}
@media (max-width: 1200px) {
  .intro {
    padding: 24px 16px;
  }
  .intro_inner {
    margin-top: 24px;
  }
  .body_inner {
    flex-direction: column;
    margin-top: 48px;
  }
  .body_aside {
    max-width: 100%;
    padding-right: 0px;
    padding-bottom: 24px;
    border-bottom: 1px solid #ebebeb;
    border-right: none;
    position: static;
  }
  .body_content {
    padding-left: 0px;
    padding-top: 24px;
    max-width: 100%;
    width: 100%;
  }
  .breadcrumb_el,
  .intro_desc {
    font-size: 14px;
    line-height: 20px;
  }
  .intro_title {
    font-size: 24px;
    line-height: 36px;
  }
}
@media (max-width: 768px) {
  .intro {
    gap: 40px;
    flex-direction: column;
  }
  .intro_back_img_box {
    position: relative;
    width: 100%;
    height: 140px;
  }
}
