.section_inner {
  display: flex;
  align-items: flex-start;
  gap: 24px;
  padding-top: 80px;
}

.left {
  width: 100%;
  position: relative;
  height: 640px;
  padding: 8px;
  z-index: 0;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}

.map {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.map div {
  position: relative;
  width: 100%;
  height: 100%;
}

.map div iframe {
  position: absolute !important;
  top: 0 !important;
  left: 0 !important;
  width: 100% !important;
  height: 100% !important;
  border: none !important;
}

.map_content {
  padding: 24px;
  background-color: var(--white);
  z-index: -1;
}
.bottom_info {
  position: absolute;
  bottom: 8px;
  left: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 24px;
  border: 1px solid var(--grey-8, #ebebeb);
  background: var(--white, #fff);
  box-shadow: 0px 12px 33px 0px rgba(2, 1, 5, 0.12);
}
.location_name {
  color: var(--black, #020105);
  font-family: var(--halvar-bold);
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 21.6px */
  text-transform: uppercase;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  padding-right: 48px;
  border-right: 1px solid #ebebeb;
}
.location_name svg {
  width: 32px;
  height: 32px;
}
.location_name span {
  max-width: 364px;
}

.social_media {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-left: 48px;
}

.social_title {
  color: #69697e;
  font-family: var(--interface-regular);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%; /* 19.6px */
}
.socials {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
}
.socials svg path {
  fill: var(--black, #020105);
}
.right {
  max-width: 540px;
  width: 100%;
  background-color: #f5f5f7;
  border: 1px solid #ebebeb;
  padding: 24px 32px;
  display: flex;
  flex-direction: column;
}

.titles_div {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.title {
  font-family: var(--halvar-bold), sans-serif;
  font-weight: 700;
  font-size: 32px;
  line-height: 36px;
  color: var(--black);
}

.titles_div p {
  font-size: 18px;
  line-height: 27px;
  color: var(--gray);
}

.form_wrapper {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-top: 40px;
}

.form_inputs {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.input {
  background-color: var(--white);
  border: 1px solid #ebebeb;
  padding: 16px 24px;
  font-size: 16px;
  line-height: 24px;
  color: var(--black);
}

.input:focus {
  outline: none;
}

.form_buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 22px;
}
.contact_info {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-top: 24px;
  gap: 70px;
  border-top: 1px solid #c2c2c3;
  margin-top: 24px;
}
.contact_info_inner {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 4px;
}
.contact_info_title {
  color: #69697e;
  font-family: var(--interface);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
}
.mail,
.phone {
  color: var(--black, #020105);
  font-family: var(--interface-medium);
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%; /* 30px */
}

@media (max-width: 1440px) {
  .location_name span {
    font-size: 16px;
    line-height: 120%;
  }
  .bottom_info {
    padding: 20px;
  }
  .location_name {
    padding-right: 10px;
  }
  .social_media {
    padding-left: 10px;
    align-items: flex-start;
  }
  .title {
    font-size: 22px;
    line-height: 112%;
  }
  .titles_div {
    font-size: 16px;
    line-height: 150%; /* 24px */
  }
}
@media (max-width: 1200px) {
  .section_inner {
    flex-direction: column;
    gap: 32px;
    padding-top: 56px;
  }
  .right {
    max-width: 100%;
    padding: 24px 16px;
  }
  .left {
    height: 450px;
  }
  .form_buttons {
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
  }

  .bottom_info {
    flex-direction: column;
    padding: 18px 10px;
    right: 8px;
    align-items: flex-start;
  }

  .contact_info_title {
    font-size: 12px;
    line-height: 130%;
  }
  .mail,
  .phone {
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
  }

  .social_media {
    padding-left: 0;
    padding-top: 14px;
  }
  .location_name {
    padding-right: 0;
    padding-bottom: 14px;
    border-bottom: 1px solid #ebebeb;
    border-right: unset;
  }
}
@media (max-width: 550px) {
  .contact_info {
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
  }
}
