.section_inner {
  padding-bottom: 120px;
  padding-top: 80px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.galleries_container {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  gap: 16px;
}

.gallery_card {
  width: 100%;
  height: 360px;
  position: relative;
  z-index: 0;
  cursor: pointer;
}

.gallery_card:hover .gallery_card_mask {
  opacity: 1;
}

.gallery_card_content {
  position: relative;
  height: 100%;
}

.gallery_card_mask {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: grid;
  place-items: center;
  opacity: 0;
  transition: 0.3s;
}

.gallery_card_mask svg {
  width: 56px;
  height: 56px;
}

.btns {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.btn {
  display: flex;
  padding: 12px 24px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 43px;
  border: 1px solid var(--black);
  background: var(
    --white,
    #fff
  ); /* BUNAQA FIGMADAN KO'CHIRMANG STYLE NI, QO'LDA YOZING!!! */
  color: var(--black);
  font-family: var(--halvar-bold);
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%; /* 18.2px */
  text-transform: uppercase;
}

.active {
  color: #4eb848;
  border: 1px solid #4eb848;
}
.limit_btn_box {
  display: flex;
  align-items: center;
  justify-content: center;
}
.bottom_btn {
  border-radius: 40px;
  border: 1px solid #4eb848;
  color: #4eb848;
  text-align: center;
  font-family: var(--halvar-bold);
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%; /* 18.2px */
  text-transform: uppercase;
  padding: 12px 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}
.bottom_btn > svg {
  width: 24px;
  height: 24px;
}

.gallery_card:nth-child(1),
.gallery_card:nth-child(8) {
  grid-column: span 3;
}

.gallery_card:nth-child(2),
.gallery_card:nth-child(3),
.gallery_card:nth-child(4),
.gallery_card:nth-child(5),
.gallery_card:nth-child(6),
.gallery_card:nth-child(7) {
  grid-column: span 2;
}

@media (max-width: 1200px) {
  .galleries_container {
    grid-template-columns: 1fr;
    gap: 16px;
  }
  .gallery_card:nth-child(1),
  .gallery_card:nth-child(8) {
    grid-column: auto;
  }
  .gallery_card:nth-child(2),
  .gallery_card:nth-child(3),
  .gallery_card:nth-child(4),
  .gallery_card:nth-child(5),
  .gallery_card:nth-child(6),
  .gallery_card:nth-child(7) {
    grid-column: auto;
  }
  .btns {
    display: flex;
    flex-direction: column;
  }
  .bottom_btn {
    color: #4eb848;
    text-align: center;
    font-family: var(--halvar-medium);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
  }
  .btn {
    text-align: center;
    font-family: var(--halvar-medium);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
  }
}
