.section_inner {
  padding-top: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.other_product_inner {
  padding-top: 64px;
  padding-bottom: 40px;
  border-top: 1px solid #ebebeb;
}

.wrapper {
  padding-top: 80px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.inner_top {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.article_title {
  font-family: var(--halvar-bold), sans-serif;
  font-weight: 700;
  font-size: 32px;
  line-height: 48px;
  color: var(--black);
  text-transform: uppercase;
}

.inner_info {
  display: flex;
  align-items: center;
  gap: 32px;
}

.info_item {
  font-size: 16px;
  line-height: 24px;
  color: #acacaf;
  display: flex;
  align-items: center;
  gap: 8px;
}

.inner_body {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.article_image {
  position: relative;
  width: 100%;
  height: 610px;
}

.article_text p {
  font-size: 18px;
  line-height: 27px;
  color: var(--black);
}
@media (max-width: 1440px) {
  .article_title {
    font-size: 26px;
    line-height: 150%;
  }
  .article_text {
    font-size: 18px;
    line-height: 150%;
  }
}
@media (max-width: 1200px) {
  .section_inner {
    padding-top: 32px;
  }
  .other_product_inner {
    padding-top: 56px;
    padding-bottom: 18px;
  }
  .wrapper {
    padding-top: 32px;
    gap: 20px;
  }
  .article_title {
    font-size: 20px;
    line-height: 30px;
  }
  .info_item {
    font-size: 14px;
    line-height: 21px;
  }
  .inner_top {
    gap: 16px;
  }
  .inner_body {
    gap: 24px;
  }
  .article_image {
    height: 360px;
  }
  .article_text p {
    font-size: 16px;
    line-height: 24px;
  }
}
