.minibox_mb {
}

.input_wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
  border: 1px solid #c2c2c3;
  border-radius: 51px;
  overflow: hidden;
}

.input_wrapper button {
  display: grid;
  place-items: center;
  padding-right: 32px;
}

.input_wrapper svg {
  max-width: 28px;
  width: 100%;
  height: 28px;
}

.input {
  flex: 1 1 auto;
  padding-block: 16px;
  border: none;
  padding-left: 32px;
  color: var(--dark-blue);
  font-size: 18px;
  line-height: 28px;
  background-color: unset;
}

.input:focus {
  outline: none;
}

.custom_title {
  font-family: var(--halvar-bold), sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 31px;
  color: var(--black);
  text-transform: uppercase;
}

.empty_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 54px;
  margin-top: 105px;
}

.empty_wrapper img {
  display: inline-block;
  max-width: 496px;
  width: 100%;
  height: 492px;
  object-fit: contain;
}

.content_wrapper {
  margin-top: 64px;
}
.search_results {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 24px;
}
@media (max-width: 1440px) {
  .input_wrapper {
    max-width: 1200px;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
  }
  .search_results {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 16px;
  }
}
@media (max-width: 1200px) {
  .input {
    font-size: 16px;
    line-height: 24px;
    place-content: 24px;
  }
  .input_wrapper button {
    padding-right: 24px;
  }
  .input_wrapper svg {
    max-width: 20px;
    height: 20px;
  }
  .empty_wrapper {
    margin-top: 56px;
    gap: 24px;
  }
  .empty_wrapper img {
    max-width: 250px;
    height: 280px;
  }
  .custom_title {
    font-size: 18px;
    line-height: 24px;
  }
  .content_wrapper {
    margin-top: 56px;
  }
  .search_results {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 768px) {
  .search_results {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 550px) {
  .search_results {
    grid-template-columns: 1fr;
  }
}
